<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>CMS</title>

<!-- Styles -->
<link href="#" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link href="#" th:href="@{/css/style.css}" rel="stylesheet" />

<link rel="stylesheet" href="#"
	th:href="@{/fonts/glyphicons-halflings-regular.svg}" />

<link rel="stylesheet" type="text/css" href="#"
	th:href="@{/slick/slick.css}" />
<link rel="stylesheet" type="text/css" href="#"
	th:href="@{/slick/slick-theme.css}" />
</head>
<body>
	<div id="app">

		<nav class="navbar navbar-inverse navbar-static-top">
			<div class="container">
				<div class="navbar-header">

					<!-- Collapsed Hamburger -->
					<button type="button" class="navbar-toggle collapsed"
						data-toggle="collapse" data-target="#app-navbar-collapse">
						<span class="sr-only">Toggle Navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>

					<!-- Branding Image -->
					<a href="{{ url('/admin') }}" class="navbar-brand">Administración</a>
				</div>

				<div class="collapse navbar-collapse" id="app-navbar-collapse">
					<!-- Left Side Of Navbar -->
					<ul class="nav navbar-nav">
						<li><a href="{{ route('slider.index') }}">Slider</a></li>
						<li><a href="{{ route('proveedor.index') }}">Proveedores</a></li>
						<li><a href="{{ route('producto.index') }}">Productos</a></li>
						<li><a href="{{ route('admins.index') }}">Administradores</a></li>
					</ul>

					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown"><a href="#" class="dropdown-toggle"
							data-toggle="dropdown" role="button" aria-expanded="false">
								{{ Auth::user()->full_name }} <span class="caret"></span>
						</a>

							<ul class="dropdown-menu" role="menu">
								<li><a href="{{ url('/admin') }}">Administración</a></li>
								<li><a href="{{ url('/home') }}">Mi cuenta</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="{{ url('/logout') }}"
									onclick="event.preventDefault();
                                                 document.getElementById('logout-form').submit();">
										Cerrar sesión </a>

									<form id="logout-form" action="{{ url('/logout') }}"
										method="POST" style="display: none;">{{ csrf_field() }}
									</form></li>
							</ul></li>
					</ul>
				</div>
			</div>
		</nav>

		<div class="container">
			<div class="jumbotron">
				<h1>!Bienvenido al panel de administración!</h1>
				<dl>
					<dt>Aquí podrás administrar tu tienda online.</dt>
					<dd>Podrás administrar las imagenes de muestra de la pagina
						principal.</dd>
					<dd>Administrar los proveedores de tus productos.</dd>
					<dd>Administrar los productos de tu tienda.</dd>
				</dl>
			</div>
		</div>

	</div>

	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/slick/slick.min.js"></script>
</body>
</html>